<footer class="flex flex-col items-center mb-2 self-end sm:mb-0">
  <span>2023 Made by Matheus Matias</span>
  <ul class="flex flex-row gap-4 text-cyan-500  decoration-cyan-500 underline">
    <li>
      <a
        href="https://github.com/MatMatias"
        target="_blank" rel="noopener"
      >
        Github
      </a>
    </li>
    <li>
      <a
        href="https://www.linkedin.com/in/matheus-matias-9a2a6519a/"
        target="_blank"
        rel="noopener"
      >
        LinkedIn
      </a>
    </li>
  </ul>
</footer>
