@if (paginateData && paginateData.length > 0) { } @else {
<div class="spinner-container">
  <mat-spinner></mat-spinner>
</div>

}
<div *ngIf="missingIsrcs.length" class="warning">
  <h3>ISRCs não encontrados</h3>
  <p>[ {{ missingIsrcs.join(", ") }} ]</p>
</div>
<div class="tracks-container">

  <mat-card *ngFor="let track of paginateData" class="track-card">
    <mat-card-header>
      <div class="header-content">
        <div class="track-info">
          <mat-card-title>{{ track.name }}</mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </div>
        <div
          class="brazil-availability"
          [class.available]="track.is_playable"
          [class.unavailable]="!track.is_playable">
          <mat-icon>{{ track.is_playable ? 'check_circle' : 'cancel' }}</mat-icon>
          <span>🇧🇷 {{ track.is_playable ? 'Disponível no Brasil' : 'Não disponível no Brasil' }}</span>
        </div>
      </div>
    </mat-card-header>
    
    <img mat-card-image [src]="track.album.images[0]?.url || urlImage" alt="{{ track.name }}"/>
    
    <mat-card-content>
      <p>Álbum: {{ track.album.name || "Desconhecido" }}</p>
      <p>Data de lançamento: {{ track.album.release_date | date: 'dd-MM-yyyy' }}</p>
      <p>Artistas: {{ getArtistsNames(track.artists) }}</p>
      <p>Duração: {{ formatDuration(track.duration_ms) }}</p>
    </mat-card-content>

    <mat-card-actions>
      <div class="audio-controls" *ngIf="track.preview_url">
        <button mat-icon-button (click)="toggleAudio(track)" [attr.aria-label]="isPlaying(track.id) ? 'Pausar' : 'Reproduzir'">
          <mat-icon>{{isPlaying(track.id) ? "pause" : "play_arrow"}}</mat-icon>
        </button>
       
        <audio
          #audioElement
          [src]="track.preview_url"
          (ended)="onAudioEnded(track.id)"
          (loadstart)="onAudioLoadStart(track.id)"
          (error)="onAudioError(track.id)">
        </audio>
      </div>

      <div *ngIf="!track.preview_url" class="no-preview">
        <mat-icon>music_off</mat-icon>
        <span>Prévia não disponível</span>
      </div>
      <div class="spotify-link">
        <button mat-button (click)="openSpotify(track)">
          <mat-icon>open_in_new</mat-icon>
          Ouvir completa no Spotify
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>

@if (activePaginator) {
  <mat-paginator
  [length]="totalItems"
  [pageSize]="pageSize"
  [pageIndex]="pageIndex"
  [pageSizeOptions]="[3, 5, 10]"
  (page)="onPageChange($event)"
  showFirstLastButtons
  >
</mat-paginator>
}
