<div
  class="min-h-screen bg-black text-white flex flex-col justify-center items-center px-4 bg-gradient"
>
  <div class="max-w-4xl w-full text-center space-y-12">
    <h1 class="text-4xl md:text-6xl font-bold">
      Procure Os ISRCs das Suas
      <span
        class="bg-gradient-to-r from-pink-500 via-purple-500 to-yellow-500 text-transparent bg-clip-text"
      >
        Bandas Favoritas
      </span>
      <br />
      <span class="text-3xl md:text-5xl">E crie sua playlist</span>
    </h1>
    <div class="relative max-w-2xl mx-auto">
      <input
        type="text"
        [(ngModel)]="searchQuery"
        (keyup.enter)="onSearch()"
        placeholder="Digite o código ISRC..."
        class="w-full px-6 py-4 bg-zinc-900/80 backdrop-blur-sm rounded-full text-lg focus:outline-none focus:ring-2 focus:ring-purple-500 shadow-lg hover:shadow-purple-500/20 transition-all"
        [class.opacity-50]="isLoading"
        [disabled]="isLoading"
      />
      <button
        (click)="onSearch()"
        [disabled]="isLoading || !searchQuery.trim()"
        class="absolute right-4 top-1/2 -translate-y-1/2 bg-gradient-to-r from-pink-500 to-purple-500 px-6 py-2.5 rounded-full hover:opacity-90 transition-all disabled:opacity-50 disabled:cursor-not-allowed font-medium shadow-lg hover:shadow-purple-500/50"
      >
        {{ isLoading ? "Buscando..." : "Buscar" }}
      </button>
    </div>

    <!-- Error message -->
    <div
      *ngIf="error"
      class="text-red-500 text-sm bg-red-500/10 p-3 rounded-lg max-w-2xl mx-auto"
    >
      {{ error }}
    </div>
  </div>
</div>
