<main class="main">
  <div *ngFor="let track of tracks" class="card">
    <div *ngIf="track.name">
      <img [src]="track.album.images[1].url" alt="{{ track.name }}" />
      <p><span>Nome da música:</span> {{ track.name }}</p>

      <p><span>Artistas:</span> {{ getArtists(track) }}</p>

      <p><span>Álbum:</span> {{ track.album.name }}</p>
      <p><span>Duração:</span> {{ track.duration_ms | date : "mm:ss" }}</p>
      <audio controls>
        <source [src]="track.preview_url" type="audio/mpeg" />
      </audio>
      <p>
        <span> Data de Lançamento:</span>
        {{ track.album.release_date | date : "dd/MM/yyyy" }}
      </p>
      <p>
        <a href="{{ track.external_urls.spotify }}"
          >Clique aqui para ouvir a música no Spotify</a
        >
      </p>
      <p><span>ISRC:</span> {{ track.external_ids.isrc }}</p>
      <div *ngFor="let country of track.available_markets">
        <p *ngIf="country == 'BR'">Faixa está disponível no Brasil</p>
      </div>
    </div>
  </div>
  <div class="containerNoData">
    <h3>ISRC sem retorno</h3>
    <div *ngFor="let noTrack of noDataTracks">
      O isrc {{ noTrack }} não existe
    </div>
  </div>
</main>
