.track-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 1200px;
  margin-inline: auto;
  padding: 2rem 1rem;

  @media (min-width: 768px) {
    padding: 3rem 2rem;
    gap: 2.5rem;
  }

  @media (min-width: 1024px) {
    padding: 4rem 2rem;
  }
}
