.missing-tracks{
    margin: 4rem 0;
}

.missing-tracks__list{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;

    @media (min-width: 1024px) {
        grid-template-columns: repeat(2, 1fr);
    }
}

.missing-tracks__header{
    margin-bottom: 2rem;
}

.missing-tracks__loading{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    height: 100%;
}

.missing-tracks__error{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    height: 100%;
}
