<div class="header">
    <div class="nav">
        <div class="logo">
            <img src="assets/img/logo.png" alt="Spotify logo">
            <h3>Suas músicas em um só lugar!</h3>
        </div>
        <div class="toggle">
            <span>Usar paginação</span>
            <mat-slide-toggle
            class="example-margin"
            [checked]="checked"
            [disabled]="disabled"
            (change)="onToggleChange($event)">
        </mat-slide-toggle>
    </div>
    </div>
</div>
