<main class="main">
  <div *ngFor="let track of tracks">{{ track.isrc }}</div>
  <div *ngIf="trackData">
    <img [src]="trackData.album.images[1].url" alt="{{ trackData.name }}" />
    <p>
      Data de Lançamento:
      {{ trackData.album.release_date | date : "dd/MM/yyyy" }}
    </p>
    <h1>{{ trackData.name }}</h1>
    <p>Artistas:</p>
    <ul *ngFor="let artist of trackData.artists">
      <li>{{ artist.name }}</li>
    </ul>
    <p>Álbum: {{ trackData.album.name }}</p>
    <p>Duração: {{ trackData.duration_ms | date : "mm:ss" }}</p>
    <audio controls>
      <source [src]="trackData.preview_url" type="audio/mpeg" />
    </audio>
    <p>
      <a href="{{ trackData.external_urls.spotify }}"
        >Clique aqui para ouvir a música no Spotify</a
      >
    </p>
    <p>ISRC: {{ trackData.external_ids.isrc }}</p>
    <div *ngFor="let country of trackData.available_markets">
      <p *ngIf="country == 'BR'">Disponível no Brasil</p>
    </div>
  </div>
</main>

<router-outlet />
