<div class="search-container">
    <div class="input-button-container">
        <div class="input-container">
            <input type="search" matInput [formControl]="isrcControl" placeholder="Digite o ISRC" />
            <mat-error *ngIf="isrcControl.hasError('pattern')">
                Código ISRC inválido. O ISRC deve conter 12 caracteres.
            </mat-error>
        </div>
        <button mat-raised-button color="primary" (click)="searchTrack()" [disabled]="isrcControl.invalid">
            Buscar
        </button>
    </div>
</div>

<div class="track-list" *ngIf="tracks.length > 0">
    <div class="track-item" *ngFor="let track of tracks">
        <img class="album-thumb" [src]="track.album.images[0].url" alt="{{ track.name }}">
        <div class="track-info">
            <h2>{{ track.name }}</h2>
            <p><strong>Artistas:</strong> {{ getArtistNames(track.artists) }}</p>
            <p><strong>Álbum:</strong> {{ track.album.name }}</p>
            <p><strong>Data de lançamento:</strong> {{ track.album.release_date }}</p>
            <p><strong>Duração:</strong> {{ formatDuration(track.duration_ms) }}</p>
            <p><strong>Disponível no Brasil:</strong> {{ isAvailableInBrazil(track.available_markets) }}</p>
            <p><strong><a [href]="track.external_urls.spotify" target="_blank">Ouça no Spotify</a></strong></p>
            <audio *ngIf="track.preview_url" controls>
                <source [src]="track.preview_url" type="audio/mpeg">
            </audio>
        </div>
    </div>
</div>