@import "../../../color-variables.scss";

.track-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.track-item {
    border: 1px solid $secondary-background;
    padding: 10px;
    margin: 8px 0;
    width: 100%;
    max-width: 700px;
    display: flex;
    align-items: center;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.4);
    background-color: $primary-text;

    @media (max-width: 768px) {
        flex-direction: column;
        text-align: center;
    }
}

.album-thumb {
    width: 180px;
    height: 200px;
    margin-right: 30px;
    margin-left: -40px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3);

    @media (max-width: 768px) {
        margin: 0;
        width: 100%;
        height: auto;
    }
}

.track-info {
    flex: 1;

    @media (max-width: 768px) {
        width: 100%;
    }
}

.track-info h3 {
    margin: 0;
    font-size: 1.2em;
}

.track-info p {
    margin: 5px 0;
}

.track-info audio {
    margin-top: 10px;
    width: 100%;
}

.input-button-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    width: 100%;
    max-width: 600px;
    position: relative;

    @media (max-width: 600px) {
        flex-direction: column;
        align-items: stretch;
    }
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;

    input {
        padding: 10px;
        border-radius: 20px;
        border: 1px solid $secondary-background;
        background: $primary-text;
        width: 100%;
        max-width: 500px;
        outline: none;
        font-size: 16px;
        color: $secondary-text;
        background-image: url('https://img.icons8.com/ios/50/000000/search--v1.png');
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: 95% 50%;
        padding-right: 45px;


        @media (max-width: 600px) {
            max-width: 100%;
        }
    }

    button {
        padding: 10px 40px;
        border-radius: 20px;
        border: 1px solid $primary-text;
        background-color: $primary-background;
        color: white;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;

        &:disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }

        @media (max-width: 600px) {
            width: 100%;
            margin-top: 10px;
        }
    }
}

.input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    position: relative;

    @media (max-width: 600px) {
        max-width: 100%;
    }
}

mat-error {
    position: absolute;
    bottom: -20px;
    left: 0;
    margin-left: 20px;
    color: red;
    font-size: 14px;
    font-weight: 500;
}
h2{
    color: $primary-color;
}