/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: linear-gradient(90deg, #ced4da, #f8f9fa);
}

.warning-snackbar {
    background-color: #FFCD07;
    color: white;
}

.error-snackbar {
    background-color: #D32F2F;
    color: white;
} 
