<main>
  <ul>
    @for (track of tracks; track $index) {
    <li>
      <img [src]="track.albumThumbnailUrl" />
      <div class="release-date">
        <h6>Data de Lançamento:</h6>
        <p>
          {{ track.releaseDate | date : "longDate" : "" : "pt-BR" }}
        </p>
      </div>

      <div class="track-name">
        <h6>Título da Faixa:</h6>
        <p>{{ track.name }}</p>
      </div>

      <div class="track-artists">
        <h6>Artistas na faixa:</h6>
        <p>{{ track.artists }}</p>
      </div>

      <div class="duration">
        <h6>Duração:</h6>
        <p>{{ track.duration | date : "mm:ss" }}</p>
      </div>

      <div class="player">
        <h6>Player:</h6>
        <audio controls>
          <source [src]="track.previewUrl" type="audio/mpeg" />
          Your browser does not support the audio element.
        </audio>
      </div>

      <div class="spotify-link">
        <a [href]="track.spotifyUrl" target="_blank">Escute no Spotity.</a>
      </div>

      <div class="avaible-brazil">
        <h6>Disponível no Brasil:</h6>
        <p>{{ track.availableInBR ? "Sim" : "Não" }}</p>
      </div>
    </li>
    }
  </ul>
</main>
