@use "../../../assets/scss/colors" as *;

.track-info {
  margin-bottom: 3rem;
  background-color: $misty-blue;
  color: $dark-blue;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;

  .button {
    font-size: 1rem;
    cursor: pointer;

    @media (min-width: 576px) {
      font-size: 1.2rem;
    }

    .icon {
      margin-right: 0.5rem;

      @media (min-width: 576px) {
        margin-right: 1rem;
      }
    }
  }

  &__title {
    font-size: 1rem;
    text-align: center;

    @media (min-width: 576px) {
      font-size: 2rem;
    }

    &__icon {
      margin-right: 1rem;
    }
  }
}

.track-list {
  padding-bottom: 50px;

  &__list {
    display: flex;
    justify-content: center;
    &__item {
      margin-bottom: 3rem;
    }
  }
}
