<header class="track-info">
  <button class="button" type="button" (click)="back()">
    <fa-icon class="icon" [icon]="icons.faChevronLeft" />Voltar
  </button>

  <h2 class="track-info__title">
    <fa-icon class="track-info__title__icon" [icon]="icons.faQrcode" />
    {{ isrc }}
  </h2>
</header>

<main class="track-list">
  <ul class="track-list__list">
    @for (track of tracks; track $index) {

    <li class="track-list__list__item">
      <app-track-card [track]="track" />
    </li>

    }
  </ul>
</main>
