<div class="app__container">
  <app-header></app-header>

  <section class="app__content">
    @for (card of cards; track card) {
      <app-card [song]="card"></app-card>
    } @empty{
      <div class="app__empty">
        <img src="assets/no-data.png" alt="" />
        <div>Nenhuma música foi encontrada!</div>
      </div>
    }
  </section>
  @if (notFoundSongs !== []){
    <section class="app__not-found">
      <div class="app__not-found__title">{{ notFoundSongs.length }} Músicas não foram encontradas:</div>
      <div class="app__not-found__subtitle">
        @for(notFoundSong of notFoundSongs; track notFoundSong) {
          <div>ISRC: {{ notFoundSong }}</div>
        }
      </div>
    </section>
  }
  
  <app-footer></app-footer>
</div>
<router-outlet />
