@import '../styles.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
div.app__container{
    background-color: var(--main-background);
    font-family: 'Montserrat', sans-serif;
    color: var(--main-white);
    min-height: 100vh;
    
}
section.app__content{
    display: grid;
    width: 100%;
    grid-template-columns: 25%  25%  25%  25%;
    justify-items: center;
    row-gap: 2rem;
    padding: 1rem;

    @media (max-width: 768px){
        grid-template-columns: 100%;
    }
}
div.app__empty{
    display: flex;
    align-items: center;
    height: 80vh;
    width: 100%;
    font-size: 3rem;
    grid-area: 1 / 1 / 2 / 5;
    justify-content: space-evenly;
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;

    img {
        width: 500px;
    }
}
section.app__not-found{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    padding: 1rem;
    align-items: center;
    .app__not-found__title{
        font-size: 2rem;
        margin-bottom: 20px;
        font-family: 'Bebas Neue', cursive;
    }
    margin-bottom: 20px;
}