<header class="self-start flex flex-col justify-center">
  <ul class="ml-4 flex flex-row gap-3 items-center">
    <li>
      <a
        href="https://github.com/MatMatias/front-end-challenge"
        target="_blank"
        rel="noopener"
      >
        <img class="w-8 h-8" src="/assets/github-mark-white.svg" alt="GitHub logo">
      </a>
    </li>
    <li>
      <a routerLink="/">
        <h2>Home</h2>
      </a>
    </li>
    <li>
      <a routerLink="/tracks">
        <h2>List Soundtracks</h2>
      </a>
    </li>
  </ul>
</header>