<div class="container-tracks p-5 bg-dark table-responsive">
    <table class="table table-dark table-hover align-middle">
        <thead>
            <th>Capa</th>
            <th>Título</th>
            <th>Prévia</th>
            <th>Artistas</th>
            <th>Lançamento</th>
            <th>Duração</th>
            <th>Disponível (BR)</th>
            <th>Ouça</th>
        </thead>
        <tbody *ngFor="let item of items">
            <td>
                <img src={{item.album.images[2].url}} alt={{item.album.name}}>
            </td>
            <td>
                {{item.name}}
            </td>
            <td>
                <audio id="previewAudio" controls class="audio--width">
                    <source src={{item.preview_url}} type="audio/ogg">
                    <source src={{item.preview_url}} type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </td>
            <td>
                <ul class="list-unstyled m-0 p-0">
                    <li *ngFor="let artist of item.artists">{{artist.name}}</li>
                </ul>
            </td>
            <td>
                {{item.album.release_date | date: "dd/MM/YYYY"}}
            </td>
            <td>
                {{item.duration_ms | date: "mm:ss"}}
            </td>
            <td>
                {{item.available_markets.includes('BR') === true ? "Sim" : "Não"}}
            </td>
            <td>
                <a href={{item.external_urls.spotify}} target="_blank" ><button class="btn btn-success">Play</button></a>
            </td>
        </tbody>
    </table>
</div>