<footer>
  <div class="footer__main">
    <div class="footer__logo">
      <img src="assets/logo.png" alt="Logo" height="40" />
    </div>
    <div class="footer__columns">
      <div class="footer__column">
        <h4>DOCUMENTAÇÃO</h4>
        <ul>
          <li><a href="#">Web API</a></li>
          <li><a href="#">Web Playback SDK</a></li>
          <li><a href="#">Ads API</a></li>
          <li><a href="#">iOS</a></li>
          <li><a href="#">Android</a></li>
          <li><a href="#">Embeds</a></li>
          <li><a href="#">Commercial Hardware</a></li>
        </ul>
      </div>
      <div class="footer__column">
        <h4>GUIDELINES</h4>
        <ul>
          <li><a href="#">Design</a></li>
          <li><a href="#">Accessibility</a></li>
        </ul>
      </div>
      <div class="footer__column">
        <h4>COMMUNITY</h4>
        <ul>
          <li><a href="#">News</a></li>
          <li><a href="#">Forum</a></li>
        </ul>
      </div>
      <div class="footer__column">
        <h4>LEGAL</h4>
        <ul>
          <li><a href="#">Developer Terms</a></li>
          <li><a href="#">Developer Policy</a></li>
          <li><a href="#">Compliance Tips</a></li>
          <li><a href="#">Third Party Licenses</a></li>
        </ul>
      </div>
    </div>
    
  </div>
 
</footer>