@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  background-color: #000000;
  color: #FFFFFF;
}

.app-root {
  display: block;
  width: 100vw;
  height: 100vh;
}