<mat-card class="track-card">
  <img src="{{ track.images[1].url }}" />
  <div class="card-body">
    <div class="card-title">
      <a href="{{ track.spotifyURL }}" target="_blank" rel="noopener">
        {{ track.name }}
      </a>
      <a href="{{ track.albumSpotifyURL }}" target="_blank" rel="noopener">
        Album:
        <span>
          {{ track.albumName }}
        </span>
      </a>
    </div>
    <div>
      <ul>
        <span>Artists: </span>
        <li *ngFor="let artist of track.artists; let i = index">
          <a href="{{ artist.spotifyURL }}" target="_blank" rel="noopener">
            <span>
              {{ artist.name }}
            </span>
          </a>
          <span *ngIf="i !== track.artists.length - 1">/</span>
        </li>
      </ul>
      <span>Released on {{ dateInDDMMYYYY }}</span>
    </div>
    <audio controls [volume]="0.04">
      <source src="{{ track.previewURL }}" type="audio/mpeg" />
    </audio>
    <div class="card-footer">
      <span>Duration: {{ durationInMinutesAndSeconds }}</span>
      <span *ngIf="isAvailableInBrazil">BR Available</span>
      <span *ngIf="!isAvailableInBrazil">BR Unavailable</span>
    </div>
  </div>
</mat-card>
