:host {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card {
  max-width: 450px;
  min-width: 350px;
  height: 500px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  img {
    height: 60%;
  }
}