<div class="containerCard">
    <img class="thumb" [src]="thumbUrl" alt="Thumb do Album">

    <div class="containerInfo">
        <p><strong>Título:</strong> {{ title }}</p>
        <p><strong>Lançamento:</strong> {{ releaseDate }}</p>
        <p><strong>Artistas:</strong> {{ artists.join(', ') }}</p>
        <p><strong>Duração:</strong> {{ duration }}</p>
    </div>

    <div class="containerPreview">
        <audio controls *ngIf="previewUrl">
            <source [src]="previewUrl" type="audio/mpeg">
            Seu navegador não suporta o elemento de áudio.
        </audio>
    </div>

    <div class="containerIcons">
        <a [href]="spotifyUrl" target="_blank">
            <img src="assets/spotify-logo.png" alt="Spotify Logo">
        </a>
        <img [src]="getAvailabilityIcon()" alt="Disponibilidade">
    </div>
</div>
