<div class="containerCard">
    <img class="thumb" src="assets/thumb.jpeg" alt="">

    <div class="containerInfo">
        <p>Título:</p>
        <p>Lançamento:</p>
        <p>Artistas:</p>
    </div>

    <div class="containerPreview">
        <img class="playIcon" src="assets/play-button.png" alt="">
        <h6>line</h6>
        <p>00m:00s</p>
    </div>

    <div class="containerIcons">
        <img src="assets/spotify-logo.png" alt="">
        <img src="assets/brazil-.png" alt="">
    </div>
</div>