:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.responsive {
  @media screen and (max-width: 500px) {
    gap: 2rem;
  }
  @media screen and (min-width: 500px) {
    justify-content: space-around;
  }
}