@import "../../../styles.scss";

footer.footer__container {
    background-color: var(--footer-background);
    color: var(--main-white);
    font-family: "Montserrat", sans-serif;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: end;

    a {
        color: var(--main-white);
        text-decoration: none;
    }
    div.footer__column {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: .5rem;
        font-style: italic;
    }
    p.footer__text {
        font-size: .75rem;
    }
    img.footer__logo {
        width: 100px;
    }
}